.project_main{
    background-color: #1a1c2b;
    height: auto;
}
.title_heading {
    
    text-align: center;
    text-shadow: 2px 2px 4px red;
    color: wheat;
}

.heading{
    color: whitesmoke;
    text-decoration: underline;
}

.content {
    color: whitesmoke;
}
.project1_img {
    background-color: #1a1c2b;
    height: auto;
    width: 70%;
}
.BTNprops{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ViewProjectBTN{
    background-color:#1a1c2b;
    padding: 5px 20px;
    border: white solid 1px;
    border-radius: 15px;
    font-weight: 500;
    color: white;
}
.ViewProjectBTN:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: blue;
}
.projectPicSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:767px) {
    .project1_img {
        background-color:#1a1c2b;
        height: auto;
        width: 100%;
    }
}

/* .project_main {
    background-color: blue;
    height: 150vh;
}
.project_container {
    height: 100vh;
    background-color: red;
}
.project_title {
    text-align: center;
    color: whitesmoke;
    
    
}
.col_1 {
    width: 50%;
    float: left;
    height: 70vh;
    background-color:#1a1c2b;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: flex;
    align-items: center;      
    justify-content: center;  
}
.col_2 {
    width: 50%;
    float: left;
    height: 70vh;
    background-color: #1a1c2b;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.col_2 h2 {
    text-align: center;
    color: aliceblue;
    font-weight: 700;
    padding-bottom: 30px;
}
.project1 {
    height: 80vh;
    background-color: azure;
}

@media screen and (max-width:480px) {
    .col_1 {
        width: 100%;
        float: none;
    }
    .col_2 {
        width: 100%;
        float: none;
        
    }
    .project1_img {
        height: 70%;
        width: 70%;
    }
} */