.contact_main {
    background-color:rgb(37, 36, 78);
    background: linear-gradient(#1a1c2b00,rgba(0, 0, 0, 0.711)), url("../../images/footer.png") no-repeat center/cover #1a1c2b;
    height: 40vh;
}
#Contact .title_heading {
    padding: 2.8rem 0 1rem 0;
    color: #fff;
}

.contact_link {
    font-size:3rem;
    margin:0 1rem;
}

.contact_link i{
    color: #eee;
    transition: .5s;
}
.contact_link i:hover{
    color: #f9ab00;
    transform:translateY(-0.3rem);
    cursor:pointer;
}   



@media screen and (max-width:768px) {
    .contact_main {
        height: 25vh;
    }

    .contact_main .img-fluid {
        height: auto;
        width: 85%;
    }

    .contact_main .col-sm-3 {
        padding-right: 50px;
    }

    .contact_main .col-3 {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media screen and (min-width:768px) {
    .contact_main .img-fluid {
        height: auto;
        width: 30%;
        transition:0.5s;
    }

    .contact_main .img-fluid:hover {
        transform:translateY(-10px);
    }

    .contact_main .col-3 {
        flex: 0 0 auto;
        width: 27%;
    }
}

@media only screen and (max-width:480px) {
    .contact_link {
        font-size:2rem;
        margin:0 0.5rem;
    }
    .contact_main{
        height:25vh;
    }
}