.contact_main {
    background-color: #151729;
    height: 50vh;
}
#Contact .title_heading {
    padding-bottom: 1rem;
}



@media screen and (max-width:768px) {
    .contact_main {
        height: 25vh;
    }

    .contact_main .img-fluid {
        height: auto;
        width: 85%;
    }

    .contact_main .col-sm-3 {
        padding-right: 50px;
    }

    .contact_main .col-3 {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media screen and (min-width:768px) {
    .contact_main .img-fluid {
        height: auto;
        width: 30%;
        transition:0.5s;
    }

    .contact_main .img-fluid:hover {
        transform:translateY(-10px);
    }

    .contact_main .col-3 {
        flex: 0 0 auto;
        width: 27%;
    }
}