@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-white: #eee;
    --primary-blue: #4C43D4;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-orange: #f9ab00;

    --background: #222831;
    --primary:#FFD369;
    --primary-text:#EEEEEE;
    --secondary:#393E46;

}

body {
    font-family: 'Kaisei Tokumin', serif;
}


.navbar-custom {
    background-color: #191a2b;

}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.logo {
    height: 2.8rem;
    width: 4.4rem;
}

nav a.nav-link {
    font-weight: 200;
    letter-spacing: 0.0625rem;
    cursor: pointer;
}

nav ul li {

    text-transform: uppercase;

}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav>li>a {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    color: azure !important;
    border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-nav>li>a:focus {
    border-bottom: 0.1875rem solid var(--primary-blue);
}

.navbar-nav>li>a:hover {
    border-bottom: 0.1875rem solid var(--primary-blue);
    color: sandybrown !important;
}


/* @media only screen and (max-width:990px) {
    .offcanvas-header {
        display:block;
    }
    .navbar-collapse{
        position:fixed;
        top:0;
        bottom:0;
        left:100%;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        overflow-y: auto;
        visibility:hidden;
        background-color: black;
        transition:visibility .2s ease-in-out;
    }
    .navbar-collapse.show{
        visibility:visible;
        transform:translateX(-100%);
        width:50%;
    }
    .btn-close{
        background-color: transparent;
        border-color: transparent;
        color:#eee;
        font-size: 22px;
    }
} */

/********************Header*************************/

.bg-image {

    position: relative;
    background: #1a1c2b url('images/background.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    height: 90vh;
    overflow: hidden;

}

.bg-text {
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--primary-orange);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    height: 20vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    z-index: 2;
    border: 0.09rem solid #eee;
    border-radius:0.5rem;
    border-image: initial;
    padding: 20px 0px;
}



.typed-text {
    text-transform: capitalize;
    color: #eee;
    letter-spacing: 1.5px;
}



.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

nav {
    z-index: 2;
}

/********************Common Update*************************/



.title_heading {
    text-align: center;
    color: rgb(141, 133, 133);
    font-family: 'Josefin Sans', sans-serif;
}