.about__main {
    background-color: rgba(0, 0, 0, 0.87);
}
img.about__img{
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
    
}

img.about__img:hover{
    border-radius: 10%;
    
}

h1.about__heading{
    margin-top: 30px;
    font-size: 50px;
    color: #f9ab00;
    text-align: left;
}

h1.about__heading:hover{
    letter-spacing: 3px;
    color: red;
}
.right_side {
    margin-left: 30px;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    
}
h3{
    color: white;
    text-align: start;
   
}
p{
    color: whitesmoke;
}

@media (max-width:576px) {
    h1.about__heading{
        text-align: center;
    }
    img.about__img {
        margin: 30px 0 0 60px;
        height: 250px;
        width: auto;
        display: flex;
        justify-content: center;

    }
}