.about__main {
    background-color: #1a1c2b;
    height: 100vh;
    padding-bottom: 30px;
}

h1.aboutme-tite {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
}

.pic-container .img-fluid {
    border: #f9ab00 solid 0.5px;
    border-radius: 30px;
    box-shadow: #0011f9 0 25px 80px -15px;
    height: 50%;
    width: auto;
}

.pic-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 165, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border-color: orange;
    border-radius: 2px;

}

#About .title_heading {
    margin-bottom: 50px;
}

.about_content {
    padding-top: 50px;
    padding-bottom: 0;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;


}

.CVbtn {
    background-color: #1a1c2b;
    color: white;
    padding: 9px;
    border: white solid 1px;
    border-radius: 15px;
    font-weight: 500;
}

.CVViewbtn {
    background-color: #1a1c2b;
    color: white;
    padding: 9px 30px;
    margin: 0px 20px;
    margin-left: 0;
    border: white solid 1px;
    border-radius: 15px;
    font-weight: 500;
}

.CVViewbtn:hover {
    background-color: aliceblue;
    color: #0011f9;
}

.CVbtn:hover {
    background-color: aliceblue;
    color: #0011f9;
}

h3 {
    color: whitesmoke;
    text-align: start;
    word-spacing: 3px;

}

p {
    color: whitesmoke;
    line-height: 35px;
    font-size: 20px;
}

@media screen and (max-width:576px) {
    .pic-container .img-fluid {
        height: auto;
        width: 70%;
    }
}

@media screen and (min-width: 576px) and (max-width:768px) {
    .pic-container .img-fluid {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width:768px) {

    .about__main {
        height: auto;
    }

    .CVbtn {
        display: none;
    }

    .about__heading {
        display: none;
    }

    .pic-container {
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        color: whitesmoke;
        line-height: 30px;
        font-size: 18px;
    }
}